body {
  margin: 0;
  height: 100vh;
  background: #eee;
}

.logo {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 500px;
  font-weight: bold;
  font-family: "Inter",sans-serif;
  animation: mover 2s ease forwards;
  animation-delay: 1s;
}

@keyframes mover {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  100% {
    top: 20px;
    left: 20px;
    transform: translate(0, 0);
    font-size: 15px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 20px;
}

.botoes{
  display: flex;
  gap: 15px;
  padding-right: 50px;
}

button{
  padding: 12px 30px;
  margin: 10px;
  border-radius: 25px;
  color: #FFFFFF;
  background-color: #0F0505;
  font-family: "Inter",sans-serif;
  font-weight: bolder;
  font-size: 20px;
}