body {
  margin: 0;
  height: 100vh;
}

h1{
  font-family: "Inter", sans-serif;
  font-size: xx-large;
}

h2{
  font-family: "Inter", sans-serif;
  grid-column: 1 / 5;
}

p{
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: bolder;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 20px;
}

.botoes{
  display: flex;
  gap: 15px;
  padding-right: 50px;
}

.botoes button{
  padding: 12px 20px;
  margin: 10px;
  border-radius: 25px;
  color: #FFFFFF;
  background-color: #0F0505;
  font-family: "Inter",sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

input{
  text-align: center;
  font-family: "Inter", sans-serif;
  background-color: #EFEDED;
  border-width: .8px;
  width: 70px;
  height: 25px;
  border-radius: 50px;
}

.logo{
  display: flex;
  align-items: center;
  gap: 20px;
}

.info-numeros{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 150px; 
}

#adicionar{
  cursor: pointer;
  padding: 12px 15px;
  margin: 10px;
  border-radius: 25px;
  color: #FFFFFF;
  background-color: #0F0505;
  font-family: "Inter",sans-serif;
  font-weight: bolder;
  font-size: 15px;
}

.card-numeros{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EFEDED;
  margin: 20px;
  border-radius: 20px;
  padding: 10px 50px;
  width: fit-content;
}

.card-numeros h3{
  align-items: center;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-size: 25px;
  font-weight: 100;
}

.card-numeros h1{
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 25px;
}